## KMeans Clustering

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

## Reading the dataset

In [2]:
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
df.columns = [['CustomerID', 'Gender', 'Age', 'Income', 'Spending']]

In [6]:
df.head()

  CustomerID  Gender Age Income Spending
0          1    Male  19     15       39
1          2    Male  21     15       81
2          3  Female  20     16        6
3          4  Female  23     16       77
4          5  Female  31     17       40

## Classify Similar Customers together based on Income and Spending

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(16,8))